# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Linker files
*.ilk

# Debugger Files
*.pdb

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# debug information files
*.dwo

# Local binary directories
/bin/
*/x64/
*/Debug/
*/Release/
*/RelWithDebInfo/
*/MinSizeRel/

###################################
# CMake build directories
###################################
/build/
/cmake-build*/

###################################
# Visual Studio / MSBuild
###################################
.vs/
*.suo
*.user
*.psess
*.vsp
*.vspscc
*.cache

###################################
# Exceptions
###################################

# Autoriser toutes les dépendances dans external/
!external/**

# Mais ré-ignorer les artefacts de build potentiels
external/**/build/
external/**/CMakeFiles/
external/**/Makefile
external/**/cmake_install.cmake

# Autoriser les libs et dll *seulement* dans external/
!external/**/*.dll
!external/**/*.lib
!external/**/*.a
!external/**/*.so
!external/**/*.dylib

# Autoriser les includes
!external/**/include/**
!external/**/src/**


###################################
# OS-specific
###################################
# Windows
Thumbs.db
Desktop.ini

# macOS
.DS_Store
